.about-us {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .about-us {
        top: 60px;
        width: 100%;
        
    }

    /* * {
        outline: 2px solid rgba(0, 0, 0, 0.61);
    } */
}

.about-us-header {
    background-image: linear-gradient(131deg,#ff6a88 0%,#ff99ac 100%)!important;
    padding-block: 80px;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
} 


@media only screen and (max-width: 600px) {
    .about-us-header {
        padding-block: 30px;
        padding-inline: 20px;
        width: 100%;
    }
}

.about-us-x {
    padding: 2% 0;
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .about-us-x {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

.about-us-intro > * {
    width: 47.25%;
    margin-right: 5.5%;
}

@media only screen and (max-width: 600px) {
    .about-us-intro > * {
        width: 100%;
        margin-right: 0;
        max-width: 100%;
    }
}

.about-us-intro h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff!important;
    line-height: 1.6em;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
    .about-us-intro h1 {
        font-size: 2.2rem;
    }
}

.about-us-intro .break {
    width: 10%;
}

@media only screen and (max-width: 600px) {
    .about-us-intro .break {
        width: 15%;
    }
}

.about-us-intro p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: #fff;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .about-us-intro p {
        font-size: 1rem;
    }
}

.about-us-section-2 {
    padding: 80px 0 0 0;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .about-us-section-2 {
        padding: 40px 20px 0 20px;
    }
}

.about-x {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0rem 3rem;
}

@media only screen and (max-width: 600px) {
    .about-x {
        width: 100%;
        gap: 1rem 0;
        margin-bottom: 10%;
    }
}

.about-x-1 {
    margin-right: 1rem;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .about-x-1 {
        margin-right: 0;
        width: 100%;
    }
}

.about-x-1 p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: rgba(0, 0, 0, 0.61);
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .about-x-1 p {
        font-size: 0.9rem;
        padding-right: 20px;
    }
}

.about-x-1 p:nth-child(2) {
    margin-top: 3rem;
    columns: 2;
    column-gap: 2rem;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .about-x-1 p:nth-child(2) {
        margin-top: 2rem;
        columns: 1;
        column-gap: 0;
    }
}

.about-x-2 {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 100px 0px rgb(0 0 0 / 20%);
    position: relative;
    top: -35%;
}

@media only screen and (max-width: 600px) {
    .about-x-2 {
        top: 0;
        /* padding-right: 20px; */
    }
}

.about-x-img {
    width: 100%;
    height: 140dvh;
}

@media only screen and (max-width: 600px) {
    .about-x-img {
        height: 50vh;
        /* padding-right: 20px; */
    }
}

.about-x-img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    transition: all 0.7s ease-in-out;
}

.about-x-img img:hover {
    filter: contrast(50%);
}

.about-img {
    height: 110dvh;
}

@media only screen and (max-width: 600px) {
    .about-img {
        height: auto;
        width: 100%;
    }
}

.about-y-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0 3rem;
    padding: 5% 0;
}

@media only screen and (max-width: 600px) {
    .about-y-1 {
        gap: 1rem 0;
        /* padding-right: 20px; */
    }
}

.about-y-2 {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    
}

.about-y-2-img {
    position: relative;
    width: 100%;
    background-image: linear-gradient(0deg,#ffffff 50%,#ff9d82 50%);
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 0;
    mix-blend-mode: unset!important;
    height: 65dvh;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .about-y-2-img {
        padding: 7%;
        height: 50dvh;
        width: 100%;
    }
}

.about-y-img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 100px 0px rgb(0 0 0 / 20%);
    z-index: 2;
}

.about-y-img img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 3;
    display: inline-block;
    position: relative;
    max-width: 100%;
    object-fit: cover;
}

.about-y-3 {
    padding: 10% 10% 0 10%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .about-y-3 {
        padding: 10% 0px 0 0%;
    }
}

.about-us h2 {
    font-size: 46px;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
    color: #2b2b2b;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
    .about-us h2 {
        font-size: 2.1rem;
        margin-bottom: 1.2rem;
    }
}

.about-y-3 .break {
    width: 15%;
    opacity: 0.8;
}

.about-y-3 p {
    color: rgba(0, 0, 0, 0.61);
    line-height: 1.7em;
    font-weight: 400;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .about-y-3 p {
        line-height: 1.6rem;
        margin-bottom: 3rem;
    }
}

.about-z {
    padding: 4% 0;
}

@media only screen and (max-width: 600px) {
    
}

.about-z-1 {
    padding: 4% 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 0 3rem;
}

@media only screen and (max-width: 600px) {
    .about-z-1 {
        gap: 1rem 0;
    }
}

.about-z-2 {
    width: 100%;
}

.about-z-2 p {
    line-height: 2em;
    color: rgb(0 0 0 / 61%);
}


@media only screen and (max-width: 600px) {
    .about-z-2 p {
        margin-bottom: 24%;
    }
}
.about-z-3 {
    width: 100%;
    
}

.about-z-3-img {
    position: relative;
    width: 100%;
    background-image: linear-gradient(115deg,#9599e2 0%,#8bc6ec 100%);
    /* padding-top: 10%; */
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 0;
    mix-blend-mode: unset!important;
    height: 80dvh;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .about-z-3-img {
        padding-inline: 7%;
    }
}

.about-z-img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 100px 0px rgb(0 0 0 / 20%);
    z-index: 2;
    position: relative;
    top: -5%;
}


.about-z-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}