
.main-header {
    height: calc(100vh - 240px);
    width: 100vw;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0,0, 0.7)) ,url('https://images.pexels.com/photos/2402600/pexels-photo-2402600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: bottom;
    background-size: cover;
    position: relative;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 200px;
}

@media only screen and (max-width: 600px) {
    .main-header {
        top: 60px;
        padding: 0 20px;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20%;
    }
}

.main-header-content {
    color: var(--bgColor);
    width: 47.5%;
    margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
    .main-header-content {
        width: 100%;
        margin-top: 20%;
    }
}

.main-header-content h2 {
    font-size: var(--BigFontSize);
    line-height: 1.2;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    .main-header-content h2 {
        font-size: 3rem;
        margin-bottom: 15%;
    }
}

.break {
    width: 15%;
    height: 3px;
    background-color: var(--MainBgColor);
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .break {
        width: 20%;
        margin-bottom: 10%;
    }
}

.main-header-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 3rem;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    .main-header-content p {
        font-size: 1.1rem;
        margin-bottom: 10%;
        line-height: 2em;
    }
}

.main-header button {
    padding: 20px 40px;
    border-radius: 5px;
    background-color: var(--MainBgColor);
    font-size: 1rem;
    font-weight: 500;
}

button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.what-we-do {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 0 54px 0;
}

@media only screen and (max-width: 600px) {
    .what-we-do {
        flex-direction: column;
        padding: 100px 20px;
        align-items: center;
        justify-content: flex-start;
    }
}

.what-we-do-flex {
    display: flex;
    align-items: flex-start;
    max-width: 1080px;
    width: 80%;
    box-shadow: 0px 40px 50px -6px rgb(0 0 0 / 10%);
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .what-we-do-flex {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
}

.what-we-do-1,
.what-we-do-2 {
    width: 47.25%;
}

@media only screen and (max-width: 600px) {
    .what-we-do-1,
    .what-we-do-2 {
        width: 100%;
    }
}

.what-we-do-1 {
    background-image: linear-gradient(35deg,#ff6a88 0%,#ff99ac 100%);
    margin-right: 5.5%;
    padding: 0 5.5%;
}

@media only screen and (max-width: 600px) {
    .what-we-do-1 {
        margin-right: 0;
    }
}

.what-we-do-img {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .what-we-do-img {
        height: 400px;
    }
}

.what-we-do-img img {
    height: 110%;
    width: 100%;
    object-fit: cover;
    margin-top: 0px;
    box-shadow: 13px 42px 45px -3px rgb(0 0 0 / 10%);
}

.what-we-do-2-text {
   margin-right: 0;
    width: 100%;
    height: 500px;
    padding: 40px;
}

@media only screen and (max-width: 600px) {
    .what-we-do-2-text {
        margin-top: 20px;
        height: auto;
    }
}

.what-we-do-2-text h3 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .what-we-do-2-text h3 {
        font-size: 1.8rem;
    }
}

.what-we-do-2-text p {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.6;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    .what-we-do-2-text p {
        font-size: 1rem;
        line-height: 1.6em;
    }
}

button.what-we-do-btn {
    padding: 15px 25px;
    background-color: #fc7086;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 5px;
    transition: inherit;
    box-shadow: 0px 10px 30px 0px rgb(252 112 134 / 50%);
}

button.what-we-do-btn:hover {
    background-color: #000;
    color: var(--MainBgColor);
}

.et_b {
    padding: 6% 0;
}

@media only screen and (max-width: 600px) {
    .et_b {
        padding: 3% 20px;
    }
}

.et_b_row {
    padding: 2% 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .et_b_row {
        max-width: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}

.et_b_row.row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1080px;
    padding: 2% 0;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .et_b_row.row-1 {
        width: 100%;
        max-width: 100%;
    }
}

.et_b_text_inner {
    text-align: center;
}

.et_b_text_inner h2 {
    font-weight: 600;
    font-size: 42px;
    color: #2b2b2b;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .et_b_text_inner h2 {
        font-size: 30px;
    }
}

.et_b_text_inner .break {
    margin: 0 auto;
    width: 10%;
}

@media only screen and (max-width: 600px) {
    .et_b_text_inner .break {
        width: 15%;
    }
}

.et_b_row p {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.409);
    margin-bottom: 5%;
}

@media only screen and (max-width: 600px) {
    .et_b_row p {
        font-size: 1rem;
    }
}

.et_b_column {
    width: 22%;
    margin-right: 3%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    float: left;
    position: relative;
    z-index: 2;
    min-height: 1px;
    margin-bottom: 70px;
}

@media only screen and (max-width: 600px) {
    .et_b_column {
        width: 100%;
        margin-right: 0;
        float: none;
    }
}

.et_b_img {
    margin-bottom: 6.593%;
    position: relative;
    text-align: left;
    margin-left: 0;
    display: block;
    margin-right: auto;
    line-height: 0;
}


.et_b_img .et_b_wrap {
    display: inline-block;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .et_b_img .et_b_wrap {
        height: 350px;
        width: 100%;
    }
}



.et_b_img img {
    position: relative;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .et_b_img img {
        max-width: 100%;
        width: 100%;
    }
}

.et_b_img.et_b_wrap:hover .et_overlay {
    z-index: 3;
    opacity: 1;
}

.et_b_img.et_overlay {
    background-color: rgba(255,86,117,0.73);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,100%,.9);
    pointer-events: none;
    transition: all .3s;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.et_pb {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

@media only screen and (max-width: 600px) {
    .et_pb {
        font-size: 1.2rem;
    }
}

.et_pb_text_inner p{
    text-align: left;
    color: #2b2b2b;
    font-size: 1rem;
    line-height: 1.2rem;
}


@media only screen and (max-width: 600px) {
    .et_pb_text_inner p {
        color: #2b2b2b;
        font-weight: 500;
        line-height: 1.4;
    }
}