.modal-container {
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
    .modal-container {
        width: 100%;
    }
}

.modal {
    background: #fff;
    padding: 40px 40px 30px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .modal {
        padding: 30px 20px;
        width: 90%;
    }
}

.modal h4 {
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 600px) {
    .modal h4 {
        font-size: 1rem;
    }
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 3rem;
}

@media only screen and (max-width: 600px) {
    .btn-container {
        gap: 0 1rem;
    }
}

button.btn-confirm,
button.btn-cancel {
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5em;
}

@media only screen and (max-width: 600px) {
    button.btn-confirm,
    button.btn-cancel {
        padding: 7px 25px;
        font-size: 0.9rem;
    }
}

button.btn-confirm {
    color: #000;
    border: 2px solid #000;
}

button.btn-cancel {
    color: rgba(234, 16, 16);
    border: 2px solid rgba(234, 16, 16);
}

button.btn-cancel:hover {
    background-color: rgb(234, 16, 16);
}